<%- contentFor ('contentMain') %>

<main>
	<div class="row">
		<div class="col-sm-12" style="text-align:center;">
			<br />
			<br />
			<br />
			<br />
			<br />
			Contact Developer at sibashis1992@gmail.com (Sibashis Chatterjee)
			<br />
			<br />
			<br />
			<br />
			<br />
		</div>
	</div>
</main>
